<html ng-app="PivotTable">
  <head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="swivel.js"></script>
    <script src="pivot_table.js"></script>
    <script src="index.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css" />
  </head>

  <body ng-controller="PivotTableController">
    <h3>
      <a href="/index.html">Swivel Examples</a>
    </h3>

    <div id="main" class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <!-- Filters go here -->
          <div id="pivot-container"></div>
        </div>

        <div id="excel-pivot-settings" class="col-md-4">

          <span class="field-header">Fields</span>
          <div id="field-list" class="field-list">
            <label id="field-{{ field.name }}" class="field-item" ng-repeat="field in fields" for="field-{{ field.name }}" field-item>
              <input type="checkbox" ng-checked="field.selected" disabled="true"> {{ field.label }}
            </label>
          </div>

          <div class="col-md-6">
            <span class="field-header">Filters</span>
            <div class="field-list" field-list="filters">
              <!-- filters -->
              <div class="field-item field-item-filter" ng-repeat="field in fields | filter: { selection: { group: 'filters' } }">
                <span id="filter-{{ field.name }}" class="field-item" field-item>{{ field.label }}</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <span class="field-header">Colums</span>

            <div class="field-list" field-list="columns">
              <div class="field-item field-item-column" ng-repeat="field in fields | filter: { selection: { group: 'columns' } }">
                <span id="column-{{ field.name }}" class="field-item" field-item>{{ field.label }}</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <span class="field-header">Rows</span>

            <div class="field-list" field-list="rows">
              <div class="field-item field-item-row" ng-repeat="field in fields | filter: { selection: { group: 'rows' } }">
                <span id="row-{{ field.name }}" class="field-item" field-item>{{ field.label }}</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <span class="field-header">Values</span>

            <div class="field-list" field-list="values">
              <div class="field-item" ng-repeat="field in fields | filter: { selection: { group: 'values' } }">
                <span id="value-{{ field.name }}" class="field-item" field-item>{{ field.selection.valueFn }} of {{ field.label }}</span>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </body>
</html>
