body {
  font-family: "Helvetica", "Arial";
}

#pivot-container table {
  border-collapse: collapse;
}

#pivot-container table tr td {
  margin:0;
  padding:2px 8px 2px 8px;
  border:1px solid #efefef;
}

#pivot-container table thead td {
  font-weight:bold;
  text-align:center;
  background-color:#efefef;
}

#pivot-container table tbody td {
  text-align:right;
}

#pivot-settings > div {
  float:left;
  width:100px;
  padding-bottom:15px;
}

#pivot-settings > div#pivot-values {
  width:250px;
}

#pivot-settings div.settings-label {
  margin-bottom:5px;
}

#field-list {
  height:auto;
  margin-bottom:25px;
}

.field-list {
  display: block;
  width: 100%;
  height:50px;
  border:1px solid #ccc;
  padding:5px;
}

.field-item {
  display:block;
}
